.custom-select__control {
  border-color: #dbe3ec !important;
  min-height: 38px !important;
  font-size: 14px !important;
  color: #1e2c3d !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.custom-select__control--is-focused {
  box-shadow: 0 0 0 2px rgba(109, 194, 75, 0.25) !important;
  border-color: #6dc24b !important;
}
.custom-select__option--is-focused {
  background-color: #f0f4f8 !important;
}

.custom-select__option--is-selected {
  background-color: #6dc24b !important;
  color: white !important;
}
